* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}
/* body {
  background-image: url('./images/lemons.jpg');
  background-size: cover;
} */

html,
body {
  height: 100%;
}
