/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Questrial', sans-serif; */
}

body {
  height: 100%;
}

.App {
  width: 1080px;
  /* width: 900px; */
  margin: 0 auto;
}
